@font-face {
    font-family: 'Swiss 911 Compressed';
    src: url('fonts/swiss-911-compressed-regular.woff2') format('woff2'),
         url('fonts/swiss-911-compressed-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gyroparody';
    src: url('fonts/gyparody-heavy.woff2') format('woff2'),
         url('fonts/gyparody-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'ITC Korinna';
    src: url('fonts/itc-korinna-bold.woff2') format('woff2'),
         url('fonts/itc-korinna-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

:root {
    --jeo-base-space: 0.5vw;
    
    --jeo-color-background: #000;
    --jeo-color-tile: #030a76;
    --jeo-color-typo: #fff;
    --jeo-color-price: #d6a152;
    
    --jeo-font-swiss-911: 400 3vw / 1 'Swiss 911 Compressed', sans-serif;
    --jeo-font-gyroparody: 900 12vw / 1 'Gyroparody', sans-serif;
    --jeo-font-itc-korinna: 700 5vw / 1 'ITC Korinna', sans-serif;
}

html {
    background-color: var(--jeo-color-background);
    color: var(--jeo-color-typo);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
    gap: var(--jeo-base-space);
    margin: 0;
    /* padding: var(--jeo-base-space); */
    box-sizing: border-box;
    overflow: hidden;
}

.js-warning {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 0 10vw; */
    box-sizing: border-box;
    /* font: var(--jeo-font-itc-korinna); */
    color: var(--jeo-color-typo);
    /* font-size: 4vh; */
    padding: 30px;
    background-color: var(--jeo-color-background);
    background: radial-gradient(var(--jeo-color-background), var(--jeo-color-tile) 170%);
}
/* #nojs-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 2vw;
} */
.js-warning h1 {
    /* font: var(--jeo-font-gyroparody); 
    font-size: 5vw;
    letter-spacing: 0.1rem;
    margin-bottom: 5vh;
    margin-top: 5vh; 
    text-shadow: 0.08em 0.08em 0.05em rgba(112, 112, 112, 0.8); */

    font: var(--jeo-font-swiss-911);
    font-size: 8vw;
    margin-bottom: 4vh;
    margin-top: 4vh;
    text-shadow: 0.08em 0.08em 0.05em rgba(95, 95, 95, 0.8);
}
.js-warning p {
    font: var(--jeo-font-itc-korinna);
    font-size: 2vw;
    margin-bottom: 1vh;
    color: var(--jeo-color-price);
}

noscript {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: var(--jeo-base-space);
    /* flex-wrap: wrap; */
    /* gap: 20px; */
}

button {
    /* all: unset;  */
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: inherit;
}

/* Jedes <dl>-Element wird eine Spalte */
dl {
    flex: 1 1 calc(100% / 7); /* 6 Spalten */
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--jeo-base-space);
    /*border: 1px solid #ccc;  Optional: Rahmen für bessere Sichtbarkeit */
    /* background-color: #f9f9f9; Optional: Hintergrundfarbe */
}

dt {
    min-height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-bottom: var(--jeo-base-space);
    padding: calc(var(--jeo-base-space) * 2) var(--jeo-base-space)
        calc(var(--jeo-base-space) * 1.5);
    padding-bottom: calc(var(--jeo-base-space) * 1.5);
    
    font: var(--jeo-font-swiss-911);
    color: var(--jeo-color-typo);
    
    letter-spacing: 0.05em;
    text-align: center;
    text-shadow: 0.07em 0.07em 0.01em rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 2.6vw;
}

/* Optional: Zentrierung der Inhalte */
dt, dd {
    text-align: center;
    margin-inline-start: 0;
    background: var(--jeo-color-tile);
}

dd {
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* padding: calc(var(--jeo-base-space) * 2) var(--jeo-base-space);
    margin-top: var(--jeo-base-space); */
    visibility: visible;
    
    
}

dd button {
    padding: calc(var(--jeo-base-space) * 2) var(--jeo-base-space);
    margin-top: var(--jeo-base-space);
}


.popover {
    background-color: var(--jeo-color-tile);
    font-size: 3em;
    position: fixed;
    inset: 0;
    color: white;
    display: none;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.popover:popover-open {
    display: flex; /* Flexbox nur wenn geöffnet */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popover p {
    /* top: 40%; */
    margin: 0 0 20px 0;
    text-align: center;
    font: var(--jeo-font-itc-korinna);
    text-shadow: 0.08em 0.08em 0.01em rgba(0, 0, 0, 0.8);
    text-transform: uppercase;

    max-width: 80%;
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto;
    
    word-wrap: break-word;
    hyphens: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 8vw; 
    margin-top: 3vh;
    font-size: 5vw;
}

.popover button {
    /* top: 50%; 
    transform: translate(-50%, -50%);  */
    padding: 10px 20px;
    border: none;
    cursor: pointer;

    font: var(--jeo-font-itc-korinna);
    font-size: 3vw;
    text-shadow: 0.08em 0.08em 0.01em rgba(0, 0, 0, 0.8);
}

.popover button:hover {
    color: var(--jeo-color-price);
}


a {
    /* all: unset; */
    text-decoration: none;
    color: var(--jeo-color-price);
    cursor: pointer;

    font: var(--jeo-font-swiss-911);
    text-shadow: 0.08em 0.08em 0.01em rgba(0, 0, 0, 0.8);
}

a:visited {
    /*all: unset;*/
    /* text-decoration: none; */
    color: var(--jeo-color-tile);
    
}

a:visited button {
    color: var(--jeo-color-tile);
}



